:root,
:host {
}

article {
}

body > header {
  .brand {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: large;
  }
}

body > footer {
  margin-top: 2rem;
  padding: 2rem 0 3rem;
}

body > main {
  section {
    &[aria-labelledby='hero-title'] {
      padding: 2rem 0;
    }
  }
}
